<h1>Add a movie</h1>


<%= simple_form_for(@bookmark, as: :bookmark, method: :post, url: list_bookmarks_path) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add a movie to my list", class:"btn btn-primary" %>
<% end %>